.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin: 4.8rem;
}

.loader::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin: 20px auto;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #1d72b8;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
