
<!DOCTYPE html> 
<html> 
    <head> 
        <title>CSF</title> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> 
    </head> 
    <body> 
        <h1>Canadian Sheep Federation Software Developer Assessment</h1> 
        <div class="center">
            <div>
                <button class="btn" type="button" onclick="window.location.href='/add-user';">Fill form to get updates</button><br>
                <button class="btn" type="button" onclick="window.location.href='/get-all-users';">Check participant list</button><br>
                <button class="btn" type="button" onclick="window.location.href='/get-user';">Search participant</button><br>
                <button class="btn" type="button" onclick="window.location.href='/weather';">Search Weather</button>
            </div>
        </div>
    </body> 
</html> 